/**********************************
GENERAL PAGE STYLES
***********************************/
:root {
    --gillsans: 'Gill Sans Nova', GillSansRegular, 'Gill Sans MT Semi Light', 'Gill Sans MT', 'Gill Sans', 'Humanist 521', 'Humanist521', 'Trebuchet MS', Calibri, sans-serif;
    --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-links: white;
    --color-bodybackground: #d9dcd6;
    --color-headerbackground: #2a607c;
    --color-headertext: #ffffff;
    --color-logoseo: #779cac;
    --color-articleback: #0072bb;
    --color-articletext: #ffffff;
    --color-asideback: #2589bd;
    --color-asidetext: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bodybackground);
}

p {
    font-size: 16px;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/**********************************
HEADER STYLES
***********************************/

header {
    padding: 20px;
    font-family: var(--trebuchet);
    background-color: var(--color-headerbackground);
    color: var(--color-headertext);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: var(--color-logoseo);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--gillsans)
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/**********************************
MAIN STYLES
***********************************/

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.hero figure img {
    position: relative;
    bottom: 12em;
}

hr {
    width: 100%;
    margin: 0 auto 10px auto;
}

main article section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--gillsans);
    background-color: var(--color-articleback);
    color: var(--color-articletext);
}

main article section img {
    max-height: 200px;
}

main article section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/**********************************
ASIDE STYLES
***********************************/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--gillsans);
    background-color: var(--color-asideback);
}

aside section {
    margin-bottom: 32px;
    color: var(--color-asidetext);
}

aside section h3 {
    margin-bottom: 5px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 5px auto;
    max-width: 150px;
}

aside section p {
    text-align: center;
}

/**********************************
FOOTER STYLES
***********************************/

footer {
    padding: 30px;
    clear: both;
    font-family: var(--trebuchet);
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
